{% extends 'bakery/base.html' %}
{% block content %}
<h1 class="text-center my-5">Our Products</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><strong>${{ product.price }}</strong></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
